.head {
    margin-top: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .header {
    font-family: var(--logo-text);
    font-size: 5em;
    color: azure;
    transform: translateY(30%);
    text-shadow:
        -3px -3px 0 black,
        2px -2px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    letter-spacing: .01em;
  }

  .flip {
    transform: scaleX(-1) translateY(30%);
  }
  
  .headIMG {
    z-index: -1;
    height: 10em;
    margin-top: 4em;
  }

.subHead {
    margin-top: 1em;
    font-family: var(--subhead-text);
    font-size: 1.3em;
    color: transparent;
    text-transform: uppercase;
  }

  .dg1 {
    text-transform: uppercase;
    margin-left: .5em;
    animation: grow 4s infinite;
  }
  
  .dg2 {
    text-transform: uppercase;
    margin-left: .5em;
    animation: grow 4s 1.33s infinite;
  }
  .dg3 {
    animation: grow 4s 2.66s infinite;
    margin-left: .5em;
  }
  
  @keyframes grow {
    5% {
        transform: scale(1) translateY(0);
        color: transparent;
    }
    25% {
        transform: scale(1.2) translateY(-20%);
        color: black;
   }
    45% {
        transform: scale(1) translateY(0);
    }
    55% {
        color: transparent;
    }
  }

